# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ibarratravel

# API Configuration
ASPNETCORE_ENVIRONMENT=Development

# Secret Key para JWT (debe tener al menos 32 caracteres)
SECRET_KEY=GiveASecretKeyHavingAtLeast32Characters

# Token Configuration
EXPIRES_IN_MINUTES=2
REFRESH_TOKEN_EXPIRES_IN_MINUTES=60
