# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ibarratravel

# .NET API Configuration
ASPNETCORE_ENVIRONMENT=Development
SECRET_KEY=GiveASecretKeyHavingAtLeast32Characters
EXPIRES_IN_MINUTES=2
REFRESH_TOKEN_EXPIRES_IN_MINUTES=60
